.hero {
  height: 100vh;
  background-image: url("../../assets/nils-nedel.jpg");
  background-size: cover;
}
.hero:before {
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  position: absolute;
  opacity: 0.3;
}
.hero__wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.hero__content {
  color: #fff;
}
.hero__button a.custom-button {
  display: flex;
  width: 100px;
  text-align: center;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.hero__content div {
  margin: 20px 0px;
}
.hero__heading h1.hero__heading-text {
  font-size: 42px;
  line-height: 50px;
  font-weight: 400;
}
.hero__content .hero__sub {
  opacity: 0.8;
}
.nav {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 20px 0px;
}
.nav ul {
  display: flex;
}
.nav ul li {
  margin: 0px 10px;
}
.nav ul li a {
  color: #fff;
}
